.slider {
  background: url("../images/bg/home-1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
  position: relative;
  animation-name: slide;
  animation-duration: 24s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    background-image: url("../images/bg/home-1.jpg");
  }
  16.6% {
    background-image: url("../images/bg/home-2.jpg");
  }
  33.3% {
    background-image: url("../images/bg/home-3.jpg");
  }
  50% {
    background-image: url("../images/bg/home-5.jpg");
  }
  66.6% {
    background-image: url("../images/bg/home-6.jpg");
  }
  83.3% {
    background-image: url("../images/bg/home-7.jpg");
  }
  100% {
    background-image: url("../images/bg/home-1.jpg");
  }
}

  @extend .overly;
  .block{
    h1{
      font-size: 70px;
      line-height: 80px;
      font-weight: 600;
      color: $light;

    }
    p{
      margin-bottom:30px;
      color:#b9b9b9;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
    }

    span{
      letter-spacing: 1px;
    }
  }
}
